body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 0;
}

#header-bg {
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.header-text {
    text-align: center;
    padding: 100px;
    color: white;
}

.header-title {
    font-size: 50px;
    font-weight: bold;
}

.header-para {
    margin-bottom: 35px;
}

.Donate-link {
    background-color: dodgerblue;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.body-header {
    text-align: center;
    margin-top: 80px;
}

.flex-container {
    display: flex;
    margin-top: 40px;
    margin-left: 30%;
    margin-bottom: 40px;
}

.container-box {
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.container-box-design {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}

.amount-placement {
    text-align: center;
    margin-bottom: 80px;
}

#placing-amount {
    width: 50%;
    border: none;
    border-bottom: 1px solid gray;
}


::placeholder {
    color:gray;
    padding-left: 40%;
}

.icon-section {
    margin-right: 80px;
    width: 100%;
}

.fig-icon {
    margin-right: 185px;
    margin-top: 80px;
    margin-bottom: 80px;
}


#edu-icon-bg {
    background-color: #FFE4C4;
}


#shelter-icon-bg {
    background-color:rgba(255, 182, 193,0.4);
}


#food-icon-bg {
    background-color: rgba(189, 183, 107,0.3);
}

.flex-container2 {
    display: flex;
    margin-bottom: 50px;

}

.half-width {
    width: 50%;
}
.flex-container2 img {
    width: 80%;

}

#content-image {
    border: 2px solid white;
    border-radius: 5px;
}


 #content-text {
    margin-left: 150px;
    text-align: justify;
}


.contact-sec {
    margin-right: 100px;
    
    
}

#fb-icon {
    background-color:#DEB887;
    text-align: center;
} 

#wapp-icon {
    background-color: aquamarine;
    text-align: center;
}

#insta-icon {
    background-color: rgba(205, 92, 92,0.5);
    text-align: center;
}
.social-link {
    background-color: black;
    color: white;
    text-decoration: none;
}

.contact-container {
    display: flex;
}

#contact-container-placement {
   margin:50px;
   padding: 80px;
   border:1px solid ;
   background-color: #DEB887;
   border:none;
   
}


.contact-section {
border: 2px solid #E9967A;
width: 60%;
height: 150px;
margin-left: 250px;
margin-top: 50px;
background-color: #DEB887;
border: none;
}

.contact-body {
    margin-left: 240px;
    margin-top: 60px;
    padding: 7px;
    width: 30%;
    border: none;
    background-color: #FFE4C4;
    color: white;
}

.btn {
    margin-right: 20px;
    padding: 7px;
    border: none;
    background-color: #FF6347;
    color: white;
}

footer {
    margin-top: 100px;
    width: 100%;
    background-color: #000;
    text-align: center;
    padding: 30px;
}

.footer-header {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: #FF6347;
}

.footer-text {
    color: white;
    font-size: 10px;
}
