body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 0;
}

#header-bg {
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.header-text {
    text-align: center;
    padding: 100px;
    color: white;
}

.header-title {
    font-size: 50px;
    font-weight: bold;
}

.header-para {
    margin-bottom: 35px;
}

.Donate-link {
    background-color: dodgerblue;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
}

.body-header {
    text-align: center;
    margin-top: 80px;
}

.flex-container {
    display: flex;
    margin-top: 40px;
    margin-left: 30%;
    margin-bottom: 40px;
}

.container-box {
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
    color: gray;
}

.container-box-design {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: dodgerblue;
    border: 1px solid dodgerblue;
}

.amount-placement {
    text-align: center;
}

#placing-amount {
    width: 50%;
    border: none;
    border-bottom: 1px solid gray;
}


::placeholder {
    color:gray;
    padding-left: 40%;
}
